:root {
  --bug-bg-color: #d81d65;
  --bug-text-color: #ffffff;
  --bug-right: 26px;
  --bug-bottom: 26px;
  --bug-top: auto;
  --bug-left: auto;
  --bug-btn-size: 40px;
  --bug-fast-animation-duration: 0.2s;
  --bug-slow-animation-duration: 0.7s;
}
