.bug-wrapper {
  position: fixed;
  right: var(--bug-right);
  bottom: var(--bug-bottom);
  display: flex;
  align-items: center;
  padding: calc(var(--bug-btn-size) / 10);
  border-radius: 999px;
  background: var(--bug-bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  gap: 0;
  transition: gap var(--bug-fast-animation-duration) ease;

  &.open {
    gap: 8px;

    .bug-main {
      // background: var(--bug-bg-color);
      background: color-mix(in srgb, var(--bug-bg-color) 80%, #fff);

      svg {
        fill: var(--bug-text-color);
        transform: rotate(-90deg);
      }
    }

    // Vertical separator line
    .bug-separator {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}

.bug-actions {
  display: flex;
  gap: 5px;
  max-width: 0;
  opacity: 0;
  // overflow: hidden;
  pointer-events: none;
  transition: max-width var(--bug-fast-animation-duration) ease,
    opacity var(--bug-fast-animation-duration) ease;
}

.bug-wrapper.open .bug-actions {
  max-width: 500px;
  opacity: 1;
  pointer-events: auto;
}

.bug-btn {
  width: var(--bug-btn-size);
  height: var(--bug-btn-size);
  min-width: var(--bug-btn-size);
  min-height: var(--bug-btn-size);
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  background: color-mix(in srgb, var(--bug-bg-color) 50%, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background var(--bug-fast-animation-duration) ease,
    transform var(--bug-fast-animation-duration) ease;

  &:hover,
  &:focus,
  &:focus-visible {
    background: color-mix(in srgb, var(--bug-bg-color) 20%, #fff);
    outline: none;
  }

  svg {
    width: calc(var(--bug-btn-size) / 2);
    height: calc(var(--bug-btn-size) / 2);
    fill: currentColor;
    transform: rotate(0deg);
    transition: transform var(--bug-fast-animation-duration) ease;
    outline: none;
  }
}

.bug-main {
  position: relative;
  transition: border var(--bug-fast-animation-duration) ease,
    border-radius var(--bug-fast-animation-duration) ease;
}

// Vertical separator line between actions and main button
.bug-separator {
  width: 1px;
  height: calc(var(--bug-btn-size) * 0.5);
  align-self: center;
  background: rgba(255, 255, 255, 0.6);
  flex-shrink: 0;
  opacity: 0;
  display: none;
  margin: 0 -3px;
  transition: opacity var(--bug-fast-animation-duration) ease;
}

.bug-wrapper.open .bug-separator {
  display: block;
  opacity: 1;
}

.bug-screenshot {
  position: relative;

  .vertical-icons {
    position: absolute;
    left: 100%;
    bottom: 100%;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--bug-fast-animation-duration) ease,
      transform var(--bug-fast-animation-duration) ease;
    transform: translate(-50%, 20px);

    & > .vertical-icon:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    & > .vertical-icon:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    & > .vertical-icon:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &:hover .vertical-icons,
  .bug-wrapper.open .vertical-icons {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
  }

  .vertical-icon {
    background: color-mix(in srgb, var(--bug-bg-color) 85%, #fff);
    color: #fff;
    border-radius: 0;
    padding: 7px 10px;
    font-size: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: background var(--bug-fast-animation-duration) ease,
      color var(--bug-fast-animation-duration) ease;
    text-align: left;
    font-weight: 600;

    display: flex;
    white-space: nowrap;
    width: 220px !important;

    .bug-shortcut {
      margin-left: auto;
    }

    kbd {
      display: inline-block;
      border-radius: 4px;
      padding: 0.1em 0.5em;
      margin: 0 0.2em;
      background-color: #333;
      font-size: 0.75rem;
      font-weight: normal;
    }
  }

  .vertical-icon:hover {
    background: color-mix(in srgb, var(--bug-bg-color) 55%, #fff);
  }
}
