#bugscribe-preview-wrapper {
  position: fixed;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background: var(--bug-bg-color);
  /* border: 1px solid #ccc; */
  padding: 5px;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  gap: 5px;
  max-width: 60vw;
  overflow: auto;

  img.screenshot-preview {
    width: 100px;
    height: 50px;
    border-radius: 6px;
  }
}
