#bugscribe-preview-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  // transform: translateX(-50%);
  z-index: 10000;
  background: var(--bug-bg-color);
  /* border: 1px solid #ccc; */
  padding: 5px;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  gap: 5px;
  max-width: 60vw;
  overflow: auto;

  img.screenshot-preview,
  video.screenshot-preview {
    width: 200px;
    aspect-ratio: 1.75;
    border-radius: 6px;
  }
}
