$cursor-size: 32px;

.cursor-highlighter {
  position: fixed;
  top: 0;
  left: 0;
  width: $cursor-size;
  height: $cursor-size;
  border-radius: 50%;
  pointer-events: none;
  margin-top: calc(-1 * #{$cursor-size} / 2);
  margin-left: calc(-1 * #{$cursor-size} / 2);
  will-change: transform, opacity, box-shadow;
  background: var(--bug-primary-light);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4),
    0 0 10px 5px var(--bug-primary);
  opacity: 1;
  transition: background-color var(--anim-fast) ease-in-out,
    box-shadow var(--anim-fast) ease-in-out,
    opacity var(--anim-fast) ease-in-out, transform 0s;

  &.scrolling {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 3px 1px rgba(255, 255, 255, 0.05);
    opacity: 0.8;
  }

  // Ripple effect on click
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: $cursor-size;
    height: $cursor-size;
    border-radius: 50%;
    background: var(--bug-primary);
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.1); // Start at half size
    transition: opacity 0.4s, transform 0.4s;
    z-index: 1;
  }

  &.ripple::after {
    opacity: 0.35;
    transform: translate(-50%, -50%) scale(2); // End at full size
  }
}
